<div class="container">
 <h1><%= @recipe.name() %></h1>
 <h3>Rating:</h3>

<% @recipe.rating().times do |zoid| %>
  <div class="col-md-1"><img class="zoidberg"src="/img/zoidberg.jpg"></div>
<% end %>

<h3>Category:</h3>
 <ul>
   <% @recipe.categories.each() do |category| %>
    <li><a href="/category/<%= category.id() %>"><%= category.name() %></a></li>
  <%end%>

  <h2>Ingredients:</h2>
 <ul>
   <% @recipe.ingredients.each() do |ingredient| %>
    <li><%= ingredient.name() %> </li>
    <% end %>
  </ul>
  <h2>Instructions:</h2>
  <%= @recipe.instructions() %>
  <br>

  <a href="/">GO BACK TO THE HOMEPAGE ALREADY, JEEZ</a>

  <a href="/recipe/<%= @recipe.id() %>/edit">You think you're so smart, fine, edit my recipes! See if I care</a>

</div>


<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input name="_method" type="hidden" value="delete"><br>
  <button type="submit" class="btn btn-primary btn-md">Delete Recipe</button>
</form>
